@import 'variables';
@import 'container';
@import '_mixins';

body, html {
	margin: 0px;
	height: 100%;
}
* {
	box-sizing: border-box;
}

#app {
	min-height: 100%;
	padding: 30px;
	background-color: var(--background-color);
	display: flex;
	overflow: hidden;
}